In [8]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re

In [9]:
def scrape_page(page_url):
    answer = requests.get(page_url)
    content = answer.content
    soup = BeautifulSoup(content, features = 'html.parser')

    return soup

In [10]:
def extract_listing(page_url):
    page_soup = scrape_page(page_url)
    listings = page_soup.findAll("div", {'class': 'c1l1h97y dir dir-ltr'})
    return listings

In [11]:
links = ['https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoxOCwidmVyc2lvbiI6MX0%3D',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjozNiwidmVyc2lvbiI6MX0%3D',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0Ijo1NCwidmVyc2lvbiI6MX0%3D',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0Ijo3MiwidmVyc2lvbiI6MX0%3D',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0Ijo5MCwidmVyc2lvbiI6MX0%3D',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoxMDgsInZlcnNpb24iOjF9',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoxMjYsInZlcnNpb24iOjF9',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoxNDQsInZlcnNpb24iOjF9',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoxNjIsInZlcnNpb24iOjF9',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoxODAsInZlcnNpb24iOjF9',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoxOTgsInZlcnNpb24iOjF9',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoyMTYsInZlcnNpb24iOjF9',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoyMzQsInZlcnNpb24iOjF9',
'https://www.airbnb.com/s/Utah--United-States/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&channel=EXPLORE&query=Utah%2C%20United%20States&place_id=ChIJzfkTj8drTIcRP0bXbKVK370&date_picker_type=calendar&source=structured_search_input_header&search_type=autocomplete_click&federated_search_session_id=844c44da-c517-42db-9331-e2459dfb5a5c&cursor=eyJzZWN0aW9uX29mZnNldCI6MiwiaXRlbXNfb2Zmc2V0IjoyNTIsInZlcnNpb24iOjF9']

In [12]:
listings = {'title':[], 'name':[], 'price':[], 'price_unit':[], 'beds':[], 'rating':[], 'superhost': [], 'photos': []}

In [14]:
for url in links:
    props = extract_listing(url)
    answer = requests.get(url)
    content = answer.content
    soup = BeautifulSoup(content, features = 'html.parser')
    soup.find_all('div', {'class': '_j4dv73'})
    for p in range(len(props)):
        r = requests.get(url)
        if r.ok:
            bs = BeautifulSoup(r.text)
            listings['title'].append(props[p].find('div', {'class': 't1jojoys dir dir-ltr'}))                                  
            listings['name'].append(props[p].find('span', {'class': 't6mzqp7 dir dir-ltr'}))
            listings['price'].append(props[p].find('span', {'class': '_tyxjp1'}))
            listings['price_unit'].append(props[p].find('span', {'class': '_r1nvod'}))
            listings['beds'].append(props[p].find('span', {'class': 'dir dir-ltr'}))
            listings['rating'].append(props[p].find('span', {'class': 'r1dxllyb dir dir-ltr'}))
            listings['superhost'].append(props[p].find('div', {'class': 't1mwk1n0 dir dir-ltr'}))
            listings['photos'].append(f"{props[p].find('div', {'class': '_r752or'})}")

In [212]:
listings.pop('photos', None)
listings.pop('price_unit', None)

[<span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 None,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 None,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 None,
 None,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 None,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 None,
 None,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 None,
 <span class="_r1nvod">night</span>,
 None,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">night</span>,
 None,
 <span class="_r1nvod">night</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 None,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>,
 <span class="_r1nvod">total before taxes</span>]

In [295]:
airbnb = pd.DataFrame(listings)
len(airbnb)

271

In [278]:
airbnb = airbnb.replace('None', np.nan)
airbnb = airbnb.dropna(subset = ['price', 'rating'])
airbnb = airbnb.reset_index(drop = True)

In [280]:
for i in range(len(airbnb['title'])):
    airbnb['title'][i] = airbnb['title'][i].get_text().strip()
    airbnb['name'][i] = airbnb['name'][i].get_text().strip()
    airbnb['price'][i] = airbnb['price'][i].get_text().strip()
    airbnb['beds'][i] = airbnb['beds'][i].get_text().strip()
    airbnb['rating'][i] = airbnb['rating'][i].get_text().strip()

,title,name,price,beds,rating,superhost
0,Treehouse in Nephi,Fantasy Treehouse and Resort,$190,3 beds,4.91 (325),[Superhost]
1,Treehouse in Nephi,Fantasy Treehouse and Resort,$190,3 beds,4.91 (325),[Superhost]
2,Cabin in Fountain Green,"Cozy Private Mountain Cabin on 1,000 acre prop...",$141,4 beds,4.96 (77),[Superhost]
3,Place to stay in Fountain Green,Luxury Glamping Teepee w/King Bed on private Mtn!,$122,2 beds,4.98 (42),[Superhost]
4,Cabin in Wanship,Cozy Cabin with Hot Tub minutes from Park City,$186,2 queen beds,4.96 (195),[Superhost]

In [281]:
airbnb['location'] = airbnb['title']

for i in range(len(airbnb['location'])):
    airbnb['location'][i] = airbnb['location'][i].split(' in ')[1]

In [282]:
airbnb['reviews'] = airbnb['rating']

for i in range(len(airbnb['reviews'])):
    airbnb['rating'][i] = airbnb['rating'][i].split(' (')[0]
    if 'New' in airbnb['rating'][i]:
        airbnb['rating'][i] = np.NaN
    airbnb['rating'][i] = float(airbnb['rating'][i])
    if '(' in airbnb['reviews'][i]:
        airbnb['reviews'][i] = int(airbnb['reviews'][i].split('(')[1][:-1])
    else:
        airbnb['reviews'][i] = np.NaN

In [284]:
for i in range(len(airbnb['price'])):
    airbnb['price'][i] = int(airbnb['price'][i].replace(',', '')[1:])

In [286]:
for i in range(len(airbnb['superhost'])):
    if airbnb['superhost'][i] == None:
        airbnb['superhost'][i] = 0
    else:
        airbnb['superhost'][i] = 1

In [287]:
for i in range(len(airbnb['beds'])):
    airbnb['beds'][i] = int(airbnb['beds'][i][0])

In [288]:
airbnb['len_name'] = airbnb['name']

for i in range(len(airbnb['len_name'])):
    airbnb['len_name'][i] = len(airbnb['name'][i])

In [289]:
airbnb = airbnb.drop_duplicates(subset=['name'])

In [290]:
airbnb.reset_index(drop = True)

,title,name,price,beds,rating,superhost,location,reviews,len_name
0,Treehouse in Nephi,Fantasy Treehouse and Resort,190,3,4.91,1,Nephi,325,28
1,Cabin in Fountain Green,"Cozy Private Mountain Cabin on 1,000 acre prop...",141,4,4.96,1,Fountain Green,77,50
2,Place to stay in Fountain Green,Luxury Glamping Teepee w/King Bed on private Mtn!,122,2,4.98,1,Fountain Green,42,49
3,Cabin in Wanship,Cozy Cabin with Hot Tub minutes from Park City,186,2,4.96,1,Wanship,195,46
4,Dome in Torrey,Capitol Reef Domes,146,2,5.0,0,Torrey,36,18
...,...,...,...,...,...,...,...,...,...
164,Cabin in Alton,Hidden Valley Cabin #1-2,423,3,4.75,0,Alton,223,24
165,Dome in Huntsville,Dome Home on the Hill,1951,4,4.93,1,Huntsville,30,21
166,Farm stay in Manti,Layton's Loft Bed and Breakfast,479,2,4.94,1,Manti,701,31
167,Cottage in Vernal,The Cottage - 1Bedroom/2Bed -Sleeps Four,542,2,4.9,1,Vernal,197,40
168,Private room in Escalante,BUNKHOUSE,325,1,4.93,1,Escalante,479,9

In [291]:
airbnb

,title,name,price,beds,rating,superhost,location,reviews,len_name
0,Treehouse in Nephi,Fantasy Treehouse and Resort,190,3,4.91,1,Nephi,325,28
2,Cabin in Fountain Green,"Cozy Private Mountain Cabin on 1,000 acre prop...",141,4,4.96,1,Fountain Green,77,50
3,Place to stay in Fountain Green,Luxury Glamping Teepee w/King Bed on private Mtn!,122,2,4.98,1,Fountain Green,42,49
4,Cabin in Wanship,Cozy Cabin with Hot Tub minutes from Park City,186,2,4.96,1,Wanship,195,46
5,Dome in Torrey,Capitol Reef Domes,146,2,5.0,0,Torrey,36,18
...,...,...,...,...,...,...,...,...,...
203,Cabin in Alton,Hidden Valley Cabin #1-2,423,3,4.75,0,Alton,223,24
204,Dome in Huntsville,Dome Home on the Hill,1951,4,4.93,1,Huntsville,30,21
206,Farm stay in Manti,Layton's Loft Bed and Breakfast,479,2,4.94,1,Manti,701,31
207,Cottage in Vernal,The Cottage - 1Bedroom/2Bed -Sleeps Four,542,2,4.9,1,Vernal,197,40
208,Private room in Escalante,BUNKHOUSE,325,1,4.93,1,Escalante,479,9

In [293]:
airbnb.to_csv('airbnb.csv')